*{
  box-sizing: border-box;
}
h1{
  text-align: center;
  background-color: rgb(207, 79, 29);
  margin: 10px 19px;
}
form {
  display: flex;
  flex-direction: column;
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
  background-color: beige;
  width: 370px;
margin-left: auto;
margin-right: auto;
}
.form-group{
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
  flex-direction: row;
  text-wrap: wrap;
}
label{
  width: 10px;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  cursor: default;
}
.form-submit{
  margin-left: auto;
}
.form-submit button{
  cursor: pointer;
  width: auto;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: rgb(37, 106, 167);
}
.form-submit button:nth-child(2){
  background-color: rgb(206, 70, 21);
}